.bg-pink {
    background-color: #FFBFBF;
}

.text-cream {
    color: #FAF3F0;
}

.text-pink {
    color: #FFCACC;
}

.btn-cream {
    color: #FAF3F0;
}

.btn-pink {
    color: #FFBFBF;
}

.text-green {
    color: #D4E2D4;
}

.text-purple {
    color: #DBC4F0;
}

.text-blue {
    color: #B5C0D0;
}

.bg-dgreen {
    background-color: #A8DF8E;
}

